header img {
  width: 60vw;
  max-width: 400px;
  height: auto;
}

header p {
  text-align:center;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Geneva, sans-serif;
}

p {
  max-width: 70ch;
  font-size: 18px;
}

.booking-section {
  display: grid;
  grid-template-areas: "button-area pricing";
  grid-template-columns: auto auto;
  align-items: center;
  border: 2px solid #e4312b;
  padding 20px;
  border-radius: 10px;
  margin-top: 40px;

}

@media (max-width: 650px) {
  .booking-section {
    grid-template-columns: 1fr;
  }
}

.booking-section p {
  font-size: 18px;
}

.button-area {
  text-align: center;
}

.booking-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #149954;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}
